body {
	background-color: #adadad;
}

#yinyang {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: linear-gradient(
		to bottom,
		#ffffff 0%,
		#ffffff 50%,
		#000000 50%,
		#000000 100%
	);
	position: relative;
	margin: 100px auto;
}

#yinyang::before {
	position: absolute;
	content: "";
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 40px solid black;
	background-color: white;
	left: 0;
	top: 50px;
}

#yinyang::after {
	position: absolute;
	content: "";
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 40px solid white;
	background-color: black;
	right: 0;
	top: 50px;
}
